<<div class="menu">
    <div class="inicio" [routerLink]="['/index/inicio']">
        INICIO
    </div>
    <div class="municipios" [routerLink]="['/index/home/1']">
        MUNICIPIOS
    </div>
    <div class="soluciones" [routerLink]="['/index/soluciones']">
        SOLUCIONES
    </div>
    <div class="preguntas" [routerLink]="['/index/preguntas']">
        PREGUNTAS
    </div>
    </div>

    <div class="banner">
        <img src="../../../assets/img/rezagoimg.jpg" alt="img">
        <div class="contenedor ">
            <h1 class="banner_titulo ">REZAGO EDUCATIVO</h1>
        </div>

        <div class="center ">
            <div class="content ">
                <h2 class="subHeader "> El rezago educativo</h2>
                <p>
                    De acuerdo a los parámetros nacionales, el rezago educativo se presenta cuando una persona no cuenta con escolaridad o tiene al menos 15 años de edad y no ha culminado la secundaria. Comprende aquellos ciudadanos que se han quedado atrás académicamente
                    (en el ámbito del sistema educativo formal de un país) con respecto a los demás y no han logrado cumplir con los estándares tradicionales. Es importante aclarar que toda persona que culmina la secundaria y la preparatoria ha “escapado”
                    de este grupo. Por tanto, no entrar a la universidad pública o dedicarse exclusivamente a trabajar al culminar la preparatoria, dejando de lado el estudio de una licenciatura, no es considerado rezago educativo, aunque también es una
                    constante negativa en nuestro país.
                </p>
                <br>
                <img src="../../../assets/img/ciudadpobre.jpg" alt="img2">
                <br>
                <p>
                    En 2017, la Organización para la Cooperación y el Desarrollo Económico (OCDE) realizó un estudió en el que determinó que sólo el 17 % de los mexicanos entre 25 y 64 años contaban con estudios universitarios, porcentaje significativamente menor que el
                    promedio de los Estados que forman parte de la OCDE (37 %). Por suerte, si formas parte del segmento de la población que no ha obtenido una licenciatura o todavía no sabes qué estudiar, el mayor reto al salir de la preparatoria, aún
                    estás a tiempo.
                </p>

            </div>
        </div>
    </div>

    <footer class="footer">

        <p>
            &copy; Rezago en México
        </p>

    </footer>