<div class="menu">
    <div class="inicio" [routerLink]="['/index/inicio']">
        INICIO
    </div>
    <div class="municipios" [routerLink]="['/index/home/1']">
        MUNICIPIOS
    </div>
    <div class="soluciones" [routerLink]="['/index/soluciones']">
        SOLUCIONES
    </div>
    <div class="preguntas" [routerLink]="['/index/preguntas']">
        PREGUNTAS
    </div>
</div>


<div class="banner">
    <img src="../../../assets/img/preguntas.jpg" alt="img">
    <div class="contenedor ">
        PREGUNTAS FRECUENTES
    </div>

</div>

<div class="info">
    <br><br>
    <ul class="lista">
        <li class="lista-b">
            <div class="center">
                <h5 class="subHeader">¿Cuáles son las causas del rezago educativo?</h5>
                Por qué México es uno de esos países con un alto índice de rezago educativo? Básicamente, debido a que en nuestra nación se conglomeran diferentes factores que causan este problema. Algunos de ellos son:
            </div>
        </li>
        <li class="lista-b">
            <div class="center">
                <h4 class="subHeader-sub">Embarazo precoz</h4>
                México tiene la mayor tasa de natalidad en menores de edad de todos los países pertenecientes a la OCDE, de acuerdo a un reportaje del periódico El País.
            </div>
            <div class="contenedor-img">
                <img src="../../../assets/img/embarazo.jpg" class="img-thumbnail" width="300px" height="300px">
            </div>


            <div class="center">
                <h4 class="subHeader-sub">Delincuencia</h4>
                Otro gran problema de los países en vías de desarrollo, que lamentablemente se presenta en México, es el reclutamiento de niños y adolescentes por parte de grupos delictivos.
            </div>
            <div class="contenedor-img">
                <img src="../../../assets/img/delincuencia.jpg" class="img-thumbnail" width="300px" height="300px">
            </div>


            <div class="center">
                <h4 class="subHeader-sub">Pobreza</h4>
                La pobreza tiene relación directa con el rezago educativo. De hecho, es una de sus causas y, a la vez, una de sus consecuencias. Los niños que pertenecen a familias vulnerables desde el punto de vista económico, son mucho más propensos a no integrarse
                a la escolaridad o a abandonarla antes de tiempo.
            </div>
            <div class="contenedor-img">
                <img src="../../../assets/img/pobreza.jpg" class="img-thumbnail" width="300px" height="300px">
            </div>


            <div class="center">
                <h4 class="subHeader-sub">Desintegración familiar</h4>
                Los hogares disfuncionales y, sobre todo, desintegrados, son otro detonante del rezago educativo en México y el mundo. Los niños y adolescentes que pertenecen a familias que atraviesan problemas, en ocasiones no cuentan con padres y representantes que
                los alienten a integrarse y mantenerse en la escolaridad.
            </div>
            <div class="contenedor-img">
                <img src="../../../assets/img/familiar.jpg" class="img-thumbnail" width="300px" height="300px">
            </div>


            <div class="center">
                <h4 class="subHeader-sub">Ruralidad en condiciones precarias</h4>
                Las poblaciones rurales son altamente propensas al rezago educativo, ya que su acceso a centros de formación suele ser más complejo. En las zonas menos urbanizadas existe una menor oferta educativa. Incluso algunas localidades remotas no cuentan con planteles.
                Además, las poblaciones rurales son más impactadas por la pobreza extrema que las urbanas y muchos de sus niños y adolescentes abandonan la escolaridad por labores agrícolas, pesqueras y, en general, laborales.
            </div>
            <div class="contenedor-img">
                <img src="../../../assets/img/rural.jpg" class="img-thumbnail" width="300px" height="300px">
            </div>


            <div class="center">
                <h4 class="subHeader-sub">Trabajo infantil</h4>
                El trabajo infantil también causa rezago educativo en el país. El diario El Economista señala que en México trabajan casi 2.5 millones de niños y adolescentes de entre 5 y 17 años de edad. Muchos de ellos desempeñan labores y actividades peligrosas o
                no recomendables para su edad. De ese total, casi 1 millón no asiste a la escuela para poder cumplir con las asignaciones y funciones laborales.
            </div>
            <div class="contenedor-img">
                <img src="../../../assets/img/malwork.jpg" class="img-thumbnail" width="300px" height="300px">
            </div>


            <div class="center">
                <h4 class="subHeader-sub">Deficiencias del sistema educativo</h4>
                Un reportaje de bbc.com que cita estadísticas de la OCDE y otros organismos, muestra que el Estado mexicano hizo una inversión récord en educación entre 2013 y 2017, específicamente 47,500 millones de pesos. Sin embargo, todavía están presentes deficiencias
                históricas del sistema educativo de la nación. Según este trabajo periodístico, las principales son la falta de mantenimiento de la infraestructura, la disidencia sindical y la falta de dinero para expansión, lo que ha excluido del mundo
                académico a miles de niños y adolescentes.
            </div>
            <div class="contenedor-img">
                <img src="../../../assets/img/escuelapobre.jpg" class="img-thumbnail" width="300px" height="300px">
            </div>
            <br><br>
        </li>


        <li class="lista-b">
            <div class="center">
                <h5 class="subHeader">¿Cuáles son las consecuencias del rezago educativo?</h5>
                Las consecuencias del rezago educativo son muy parecidas a sus causas: la pobreza, la delincuencia y la ruralidad, por ejemplo. Así, el rezago educativo lleva a que algunos segmentos de la sociedad permanezcan en un ciclo desfavorable que no les permite
                mejorar su calidad de vida. Ello representa grandes problemas para la nación y sus posibilidades de crecimiento y desarrollo. La deficiencia educacional genera déficit de profesionales, menor innovación y múltiples dificultades estructurales
                en la economía.
            </div>
            <br><br>
        </li>


        <li class="lista-b">
            <div class="center">
                <h5 class="subHeader">¿Como formar parte de esta plataforma?</h5>
                Una de las preguntas que más nos hacen es como formar parte de nuestro equipo, y bueno tomamos en cuenta lo siguiente:
            </div>
            <div class="center">
                <h4 class="subHeader-sub">Carrera Universitaria a fin</h4>
                Una de las principales cosas que consideramos es la carera, una carrera a fin para encuestador serían
                <br>-Pedagogia
                <br>-Psicología
                <br>-Comunicaciones
                <br>-Ingenieria de software o a fin.
            </div>
            <div class="contenedor-img">
                <img src="../../../assets/img/educationnn.jpg" class="img-thumbnail" width="300px" height="300px">
            </div>
            <div class="center">
                <h4 class="subHeader-sub">Experiencia</h4>
                La experiencia laboral si bien es importante, tambien tenemos oportunidades para estudiantes de todas estas ramas que buscan aportar a mejorar el México ideal.

            </div>
            <div class="contenedor-img">
                <img src="../../../assets/img/curriculum.jpg" class="img-thumbnail" width="300px" height="300px">
            </div>
            <div class="center">
                <h4 class="subHeader-sub">Soft Skills</h4>
                Por supuesto que tomamos en cuenta los perfiles que se adaptan más a los ideales y valores de la plataforma, soft skills que buscamos son:
                <br>-Habilidades de comunicación.
                <br>-La capacidad del profesional para adquirir, procesar y desarrollar información.
                <br>-Capacidad de toma de decisiones y resolución de conflictos.
                <br>-Trabajo en equipo.
                <br>-Gestión del tiempo (Habilidades de planificación, organización y priorización del trabajo).
                <br>-La capacidad de negociación.
            </div>
            <div class="contenedor-img">
                <img src="../../../assets/img/intervieww.jpg" class="img-thumbnail" width="300px" height="300px">
            </div>
            <br><br>
        </li>
    </ul>
</div>

<footer class="footer">

    <p>
        &copy; Rezago en México
    </p>

</footer>