<div class="menu">
    <div class="inicio" [routerLink]="['/index/inicio']">
        INICIO
    </div>
    <div class="municipios" [routerLink]="['/index/home/1']">
        MUNICIPIOS
    </div>
    <div class="soluciones" [routerLink]="['/index/soluciones']">
        SOLUCIONES
    </div>
    <div class="preguntas" [routerLink]="['/index/preguntas']">
        PREGUNTAS
    </div>
</div>

<div class="info">
    <div class="content">
        ALGUNAS PROPUESTAS
    </div>
    <ul class="lista">
        <li class="lista-b">
            <img src="../../../assets/img/enseñanza.jpg" alt="img" class="img-thumbnail" width="300px" height="300px">

            <div class="center">
                <h5 class="subHeader">Incremento de profesionales calificados</h5>
                Si crece la población de profesionales altamente calificados y con alto sentido humanístico, pedagógico y social, habrá más probabilidades de disminuir el rezago educativo. La carrera Ciencias de la Educación, por ejemplo, es una alternativa de formación
                profesional de gran valía para México en su labor de combatir este problema.
            </div>


        </li>
        <li class="lista-b">
            <img src="../../../assets/img/financiamiento.jpg" class="img-thumbnail" width="300px" height="300px">
            <div class="center">
                <h5 class="subHeader">Financiamiento educativo integral</h5>
                El financiamiento educativo integral va mucho más allá de los planteles públicos y gratuitos. Entre otras cosas, este tipo de programas requiere la dotación de implementos y materiales de estudio para niños y adolescentes que formen parte de grupos sociales
                vulnerables.
            </div>
        </li>
        <li class="lista-b">
            <img src="../../../assets/img/educativo.jpg" class="img-thumbnail" width="300px" height="300px">
            <div class="center">
                <h5 class="subHeader">Ampliación del sistema educativo</h5>
                Con esto nos referimos a la distribución estratégica de los planteles, para que realmente tengan acceso a ellos niños y adolescentes de todas las localidades. Por supuesto, también es importante garantizar las condiciones necesarias para que los procesos
                de enseñanza puedan desarrollarse eficientemente.
            </div>
        </li>
    </ul>
</div>

<footer class="footer">

    <p>
        &copy; Rezago en México
    </p>

</footer>